<!DOCTYPE html>
<html lang="en">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    .main{
        background-color: white;
    }
    .main_common{
        display: inline-block;
        width: 200px;
        height: 250px;
        border: 1px solid blue;
        float: left;
        margin: 10px;
    }
    .sub_common{
        display: inline-block;
        width: 100px;
        height: 100px;
        border: 1px solid blue;
        float: left;

        margin: 10px;
    }
    .sub_p{


        margin: 0 auto;
    }

</style>
<head>
    <meta charset="UTF-8">
    <title>BeaBus</title>
</head>
<body>
<div>
    <lable> Bus Code 입력:</lable>
    <input type="text" id="busCode" tyle=”display:inline-block“>
</div>

<div class="wrap">
    <div class="title">
        <h1 class="display-4">Beabus Bus Dashboard</h1>
        <hr class="my-4">
        <!-- -->
            <div class="priorBus sub_common">
                <p class="sub_p">이전 버스</p>
                <p class="sub_p" id="priorBusStationName"></p>
            </div>
            <div class="myBus main_common" id="myBusDiv"> Bus State
                <p class="sub_p" id="mysBusNum"></p>
                <p class="sub_p" id="mysBusStationName"></p>
                <p class="sub_p" id="getOn"></p>
                <p class="sub_p" id="getOff"></p>
                <p class="sub_p" id="lift"></p>
            </div>
            <div class="nextBus sub_common">
                <p class="sub_p">다음 버스</p>
                <p class="sub_p" id="nextBusStationName"></p>
            </div>


        <div class="item">

        </div>
    </div>
</div>
</body>
</html>

<script>
    function loadgetbusstate() {
        $.ajax({
            type: "GET",
            url: "http://jaeryurp.duckdns.org:40191/api/v1/bus/getbusstate",
            data: {busCode: $("#busCode").val()},
            success: function (response) {
                if (response['code'] == 200) {
                    $('#mysBusNum').html(`버스 번호: ${response['data']['busNum']}`);
                    $('#mysBusStationName').html(`현재 정류장:<br>${response['data']['busStationName']}`);
                    $('#getOn').html(`<p style="color: blue">승차 예약: ${response['data']['getOn']}</p>`);
                    $('#getOff').html(`<p style="color: blue">하차 예약: ${response['data']['getOff']}</p>`);
                    if ( response['data']['lift'] == "true" ) {
                        $('#lift').html(`<p style="color: blue">휠체어 리프트 사용: O</p>`);
                    } else {
                        $('#lift').html(`<p style="color: blue">휠체어 리프트 사용: X</p>`);
                    }



                }
                console.log(response);
            }
        })
        $.ajax({
            type: "GET",
            url: "http://jaeryurp.duckdns.org:40191/api/v1/bus/getbuspnLocation",
            data: {busCode: $("#busCode").val()},
            success: function (response) {
                if (response['code'] == 200) {
                    if ((response['data']['priorBus'] != "No Bus")) {
                        $('#priorBusStationName').html(`<p style="color: black"> ${response['data']['priorBus']['busStationName']}</p>`);
                    } else {
                        $('#priorBusStationName').html(`<p style="color: black"> 없음</p>`);
                    }
                    if ((response['data']['nextBus'] != "No Bus" )) {
                        $('#nextBusStationName').html(`<p style="color: black"> ${response['data']['nextBus']['busStationName']}</p>`);
                    } else {
                        $('#nextBusStationName').html(`<p style="color: black"> 없음</p>`);
                    }

                }
                console.log(response);
            }
        })
    };
    function goNext() {
        $.ajax({
            type: "POST",
            url: "http://jaeryurp.duckdns.org:40191/api/v1/bus/setbuslocation",
            data: {busCode: $("#busCode").val()},
            success: function (response) {

                console.log(response);
            }
        })
    }
    setInterval(function(){
        loadgetbusstate() // this will run after every 5 seconds
    }, 1000);
</script>