<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
</head>
<body>
<form method="post" action="/signup">
    <div class="container">
        <h1>회원가입</h1>
        <div class="form-group">
            <label for="userId">userId</label>
            <input type="text" class="form-control" id="userId" name="userId" placeholder="사용자 아이디">
            <button id="duplicationcheck" type="button" class="btn btn-primary">중복 확인</button>
            <span id="olmessage"></span>
        </div>
        <div class="form-group">
            <label for="userName">userName</label>
            <input type="text" class="form-control" id="userName" name="userName" placeholder="사용자 이름">
        </div>
        <div class="form-group">
            <label for="userPassword">userPassword</label>
            <input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="사용자 비밀번호">
        </div>
        <button type="submit" class="btn btn-primary">가입 완료</button>
    </div>
</form>
</body>
</html>

<script>
    $("#duplicationcheck").click(function(){
        //$("#signup").attr("type", "button");
        const id = $("#userId").val();
        $.ajax({
            type: "get",
            async: false,
            url: "http://127.0.0.1:9000/idCheck",
            data: {id: id},
            success: function (data) {
                if(data == 1) {
                    $("#olmessage").text("이미 사용중인 ID 입니다.");
                    $("#olmessage").addClass("olmessagef");
                    $("#olmessage").removeClass("olmessaget");
                }else {
                    $("#olmessage").text("사용 가능한 ID 입니다.");
                    $("#olmessage").addClass("olmessaget");
                    $("#olmessage").removeClass("olmessagef");
                    //$("#signup").attr("type", "submit");
                }
            }
        })
    });
</script>